  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, id: "email" %>
  </div>

  <div class="field">
    <%= f.label :email_type %>
    <%= f.text_field :email_type %>
  </div>
  
